[Unit]
Description=KMinion - Prometheus Exporter fuer Apache Kafka
After=network-online.target kafka.service
Wants=network-online.target

[Service]
Type=simple
Environment=CONFIG_FILEPATH=/opt/local/kminion/config.yaml
WorkingDirectory=/opt/local/kminion
ExecStart=/opt/local/kminion/kminion
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
